@tailwind base;
@tailwind components;
@tailwind utilities;


body {
   @apply bg-black flex flex-col items-center justify-center h-screen;
}

.h {
    height: 600px;
}
.box{
    width: 355px;
    height: 355px;
}